---
export const prerender = false

import { Image } from 'astro:assets'
import { getLiveEntry } from 'astro:content'
import { setCacheHeaders } from '@/lib/utils'
import { OPEN_LIBRARY_URL } from '@/lib/books/schema'
import BookInfo from '@/components/BookInfo.astro'
import Base from '@/layouts/Base.astro'

const { workId = '', bookId = '' } = Astro.params
const { entry, error, cacheHint } = await getLiveEntry('books', {
	workId,
	bookId
})

if (error) throw error
if (!entry) return Astro.redirect('/404')
setCacheHeaders(Astro, cacheHint)
---

<Base>
	<main
		class='flex flex-grow flex-wrap justify-center gap-8 p-8 md:items-center'
	>
		<div class='grid gap-2'>
			<Image
				width={220}
				height={320}
				src={entry.data.coverUrl}
				alt={entry.data.title}
				class='h-80 rounded-xl object-cover'
				priority
				transition:name={`cover-${entry.data.id}`}
			/>
			<p class='text-sm text-slate-700'>
				View full details at
				<a
					class='text-slate-500 underline'
					href={`${OPEN_LIBRARY_URL}/books/${entry.data.bookId}`}
					target='_blank'
					rel='noopener noreferrer'
				>
					OpenLibrary
				</a>
			</p>
		</div>
		<div class='flex max-w-xl flex-col gap-2'>
			<h1 class='text-2xl font-bold text-slate-700'>{entry.data.title}</h1>
			<p class='text-slate-500'>{entry.data.authors}</p>
			<p class='text-slate-900'>{entry.data.description}</p>
			<p class='text-slate-500'>{entry.data.subjects}</p>
			<div class='mt-4 grid grid-cols-2 gap-2 md:flex'>
				<BookInfo title='Publish date' value={entry.data.date} />
				<BookInfo title='Pages' value={entry.data.pages} />
				<BookInfo
					title='ISBN'
					value={entry.data.isbn}
					class='max-md:col-span-2'
				/>
				<BookInfo
					title='Publishers'
					value={entry.data.publishers}
					class='max-md:col-span-2'
				/>
			</div>
		</div>
	</main>
</Base>
